
{% extends "base.html" %}

{% block title %}All Katas - ML Katas{% endblock %}

{% block content %}
    <section>
        <br>
        <div class="search-container">
            <form action="{{ url_for('index') }}" method="get" class="search-form">
                <input type="text" id="search-input" name="search" placeholder="Search katas..." value="{{ search_query if search_query else '' }}" autocomplete="off">
            </form>
        </div>
        <br>
        <div class="sort-options">
            <span>by:</span>
            <a href="{{ url_for('index', sort_by='created_at', difficulty=current_difficulty, completion_time=current_completion_time, topic=current_topic, search=search_query, created_at=current_created_at) }}" class="{% if sort_by == 'created_at' %}active{% endif %}">newest</a>
            <a href="{{ url_for('index', sort_by='upvotes', difficulty=current_difficulty, completion_time=current_completion_time, topic=current_topic, search=search_query, created_at=current_created_at) }}" class="{% if sort_by == 'upvotes' %}active{% endif %}">upvotes</a>
            <a href="{{ url_for('index', sort_by='saves', difficulty=current_difficulty, completion_time=current_completion_time, topic=current_topic, search=search_query, created_at=current_created_at) }}" class="{% if sort_by == 'saves' %}active{% endif %}">saves</a>
        </div>
        <ul class="kata-list">
            {% for kata in katas %}
            <li class="kata-item">
                <a href="{{ url_for('view_kata', kata_id=kata.id) }}">
                    <h3>{{ kata.title }}</h3>
                </a>
                <div class="meta">
                    {% set time_filter = kata.created_at | humanize_time %}
                    {% if time_filter in ['today', 'this week', 'this month', 'this year'] %}
                        <a href="{{ url_for('index', difficulty=current_difficulty, completion_time=current_completion_time, topic=current_topic, search=search_query, created_at=time_filter.replace(' ', '_')) }}"><span class="creation-date">{{ time_filter }}</span></a>
                    {% else %}
                        <span class="creation-date">{{ time_filter }}</span>
                    {% endif %}
                    <a href="{{ url_for('index', difficulty=kata.difficulty, completion_time=current_completion_time, topic=current_topic, search=search_query) }}">{{ kata.difficulty }}</a>
                    (<a href="{{ url_for('index', difficulty=current_difficulty, completion_time=kata.completion_time, topic=current_topic, search=search_query) }}">{{ kata.completion_time }}</a>)
                    {% for topic in kata.topics %}
                        <a href="{{ url_for('index', difficulty=current_difficulty, completion_time=current_completion_time, topic=topic, search=search_query) }}"><span class="topic">{{ topic }}</span></a>
                    {% endfor %}
                </div>
                <p>{{ (kata.content | striptags | truncate(200)) if kata.content else '' }}</p>
                
                <div>
                    <form action="{{ url_for('upvote_kata', kata_id=kata.id) }}" method="post" style="display: inline;">
                        <input type="hidden" name="source" value="index">
                        <button type="submit" {% if not user %}disabled{% endif %}>{{ "Upvoted" if kata.is_upvoted else "Upvote" }} ({{ kata.upvotes }})</button>
                    </form>
                    <form action="{{ url_for('save_kata', kata_id=kata.id) }}" method="post" style="display: inline;">
                        <input type="hidden" name="source" value="index">
                        <button type="submit" {% if not user %}disabled{% endif %}>{{ "Saved" if kata.is_saved else "Save" }} ({{ kata.saves }})</button>
                    </form>
                    <form action="{{ url_for('complete_kata', kata_id=kata.id) }}" method="post" style="display: inline;">
                        <input type="hidden" name="source" value="index">
                        <button type="submit" {% if not user %}disabled{% endif %}>{{ "Completed" if kata.is_completed else "Complete" }} ({{ kata.completions }})</button>
                    </form>
                </div>
            </li>
            {% endfor %}
        </ul>

        <div class="pagination">
            {% if page > 1 %}
                <a href="{{ url_for('index', page=page-1, difficulty=current_difficulty, completion_time=current_completion_time, topic=current_topic, search=search_query, created_at=current_created_at, sort_by=sort_by) }}">&laquo; Previous</a>
            {% endif %}

            {% for p in range(1, total_pages + 1) %}
                {% if p == page %}
                    <span class="current">{{ p }}</span>
                {% else %}
                    <a href="{{ url_for('index', page=p, difficulty=current_difficulty, completion_time=current_completion_time, topic=current_topic, search=search_query, created_at=current_created_at, sort_by=sort_by) }}">{{ p }}</a>
                {% endif %}
            {% endfor %}

            {% if page < total_pages %}
                <a href="{{ url_for('index', page=page+1, difficulty=current_difficulty, completion_time=current_completion_time, topic=current_topic, search=search_query, created_at=current_created_at, sort_by=sort_by) }}">Next &raquo;</a>
            {% endif %}
        </div>
    </section>
{% endblock %}
