{% extends "base.html" %}

{% block title %}{{ page_title }} - ML Katas{% endblock %}

{% block content %}
    <section>
        <h2>{{ page_title }}</h2>
        <ul class="kata-list">
            {% for kata in katas %}
            <li class="kata-item">
                <a href="{{ url_for('view_kata', kata_id=kata.id) }}">
                    <h3>{{ kata.title }}</h3>
                </a>
                <div class="meta">
                    <a href="{{ url_for('index', difficulty=kata.difficulty) }}">{{ kata.difficulty }}</a>
                    (<a href="{{ url_for('index', completion_time=kata.completion_time) }}">{{ kata.completion_time }}</a>)
                    {% for topic in kata.topics %}
                        <a href="{{ url_for('index', topic=topic) }}"><span class="topic">{{ topic }}</span></a>
                    {% endfor %}
                </div>
                <p>{{ (kata.content | striptags | truncate(200)) if kata.content else '' }}</p>
                
                <div class="kata-actions">
                    <span id="upvote-button-{{ kata.id }}"
                          hx-post="{{ url_for('upvote_kata', kata_id=kata.id) }}"
                          hx-target="this"
                          hx-swap="outerHTML"
                          style="display: inline-block;">
                        <button type="button" {% if not user %}disabled{% endif %}>
                            {{ "Upvoted" if kata.is_upvoted else "Upvote" }} ({{ kata.upvotes }})
                        </button>
                    </span>
                    <span id="save-button-{{ kata.id }}"
                          hx-post="{{ url_for('save_kata', kata_id=kata.id) }}"
                          hx-target="this"
                          hx-swap="outerHTML"
                          style="display: inline-block;">
                        <button type="button" {% if not user %}disabled{% endif %}>
                            {{ "Saved" if kata.is_saved else "Save" }} ({{ kata.saves }})
                        </button>
                    </span>
                    <span id="complete-button-{{ kata.id }}"
                          hx-post="{{ url_for('complete_kata', kata_id=kata.id) }}"
                          hx-target="this"
                          hx-swap="outerHTML"
                          style="display: inline-block;">
                        <button type="button" {% if not user %}disabled{% endif %}>
                            {{ "Completed" if kata.is_completed else "Complete" }} ({{ kata.completions }})
                        </button>
                    </span>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% if not katas %}
            <p>No {{ page_title | lower }} yet.</p>
        {% endif %}
    </section>
{% endblock %}
