{% extends "base.html" %}

{% block title %}Login - ML Katas{% endblock %}

{% block content %}
    <h2>Login or Register</h2>

    <div style="max-width: 400px;">
    <form method="post">
        <p>
            Enter your secret username to login. 
            <br>
            New? generate a secret username and provide a display name.
        </p>
        
        <div style="display: flex; align-items: center; margin-bottom: 10px;">
            <input type="text" id="secret_username" name="secret_username" required autofocus style="flex-grow: 1; margin-right: 10px;" placeholder="Secret Username">
            <button type="button" id="generateUsernameBtn" class="btn btn-secondary btn-sm">Generate</button>
        </div>
        
        <input type="text" id="display_name" name="display_name" placeholder="Display Name" style="width: 100%; margin-bottom: 10px;">

        <button type="submit">Login / Register</button>
    </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const generateUsernameBtn = document.getElementById('generateUsernameBtn');
            const secretUsernameInput = document.getElementById('secret_username');

            generateUsernameBtn.addEventListener('click', function() {
                const array = new Uint32Array(20);
                window.crypto.getRandomValues(array);
                let username = '';
                const chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
                for (let i = 0; i < array.length; i++) {
                    username += chars.charAt(array[i] % chars.length);
                }
                secretUsernameInput.value = 'u-' + username;
            });
        });
    </script>
{% endblock %}